# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
.next/
out/
build/

# env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# prisma
packages/domain/prisma/migrations/

# test
coverage/

# terraform
deploy/terraform/.terraform/
deploy/terraform/*.tfstate
deploy/terraform/*.tfstate.backup
deploy/terraform/.terraform.lock.hcl
deploy/terraform/terraform.tfvars
deploy/terraform/tfplan

# docker
deploy/docker-compose/.env

# local upload fallback
uploads/

# database dumps
*.dump
*.sql.gz
